@CHARSET "UTF-8";

.base-content {
    margin-top: 40px;
}
.login-form {
    margin-top: 90px;
}
.login-form form {
    margin-bottom: 0px;
}
.login-form input.span4 {
    padding: 5px;
}
.login-form .alert ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.navbar p.navbar-text {
    padding-right: 10px;
}
.navbar {
    margin-top: 10px;
}

.timesheet-table th.time a {
   font-size: 12px;
}
.timesheet-table td.time,
.timesheet-table th.time {
    width: 6%;
    text-align: right;
}
.timesheet-table td.total,
.timesheet-table th.total {
    width: 8%;
    text-align: right;
}
.timesheet-table td.task, 
.timesheet-table th.task {
    width: 44%;
}
.timesheet-table td.actions, 
.timesheet-table th.actions {
    width: 6%;
}
.timesheet-table td.actions-day,
.timesheet-table th.actions-day {
    width: 14%;
    text-align: right;
}
.timesheet-table td.time input {
    width: 37px;
}
.timesheet-table td.task span {
    display: block;
}
.timesheet-table td.task span.company {
    font-size: 11px;
    font-weight: bold;
}
.timesheet-table td.task span.project {
    font-size: 12px;
}
.timesheet-table td.task span.name {
    font-size: 12px;
}