@CHARSET "UTF-8";

.base-content {
    margin-top: 40px;
}
.login-form {
    margin-top: 90px;
}
.login-form form {
    margin-bottom: 0px;
}
.login-form input.span4 {
    padding: 5px;
}
.navbar p.navbar-text {
    padding-right: 10px;
}
.navbar {
    margin-top: 10px;
}

.week-table {
    
}
.week-table td.time {
    width: 5%;
}
.week-table td.total {
    width: 8%;
}
.week-table td.task {
    width: 51%;
}
.week-table td.actions {
    width: 6%;
}
.week-table td.time input {
    width: 40px;
}
.week-table td.task span {
    display: block;
}
.week-table td.task span.company {
    font-size: 11px;
    font-weight: bold;
}
.week-table td.task span.project {
    font-size: 12px;
}
.week-table td.task span.name {
    font-size: 12px;
}