@CHARSET "UTF-8";

.login-form {
    margin-top: 90px;
}
.login-form form {
    margin-bottom: 0px;
}
.login-form input.span4 {
    padding: 5px;
}
.navbar p.navbar-text {
    padding-right: 10px;
}
.navbar {
    margin-top: 10px;
}