<div class="modal hide" id="add-task-modal">
    <form method="post" action="{{ path('timesheet_week_create_task') }}" style="margin-bottom: 0px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h5>{% trans from 'timesheet' %}Create new task{% endtrans %}</h5>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{% trans from 'timesheet' %}Close{% endtrans %}</a>
        <button type="submit" class="btn btn-primary">{% trans from 'timesheet' %}Create task{% endtrans %}</button>
    </div>
    </form>
</div>
